<h2>Hello, <%= @user.name %></h2>

<p>Your new login details: </p>
<p><strong>Username: </strong><%= @user.email %></p>
<p><strong>Password: </strong><%= @password %></p>
<hr>

<p>You can log in at <%= root_url %></p>

<hr>