<div class="row">
    <div class="col-md-6">
      <h1>Create a Competition</h1>
    </div>
    <div class="col-md-6">
        <h1>Preview</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <%= render :partial =>  'competitions/partials/form' %>
    </div>
    <div id="competition-preview" class="col-md-6">
      <%= render :partial => 'competitions/partials/preview' %>
    </div>
</div>

<%= render :partial => 'competitions/partials/image_select' %>


