<div class="modal fade" id="ImageSelect" title="My modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Choose Image</h3>
  </div>
  <div class="modal-body">
    <% @images.each do |image|%>
        <a href="#" data-value="<%= image.main_images_url %>" data-preview="<%= image.main_images.thumb.url %>">
          <%= image_tag image.main_images.thumb.url %>
        </a>
    <% end %>
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">Select</button>
  </div>
</div>