@import "variables.css.scss";
// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.login-screen{
  background-color: $greyLight;

  main{
    margin-top: 15%;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 20px;

    .login-title{
      background-color: $offBlack;
      color: $white;
      padding-left: 10px;
    }

    .login{
      margin-top: 10%;
    }
  }
}