<ul class="nav nav-tabs">
  <li class="active"><a href="#enterPage" data-toggle="tab">Enter Page</a></li>
  <li><a href="#thankYouPage" data-toggle="tab">Thank You Page</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="enterPage">
    <%= render :partial => 'competitions/partials/enter_page' %>
  </div>
  <div class="tab-pane" id="thankYouPage">
    <%= render :partial => 'competitions/partials/thank_you_page' %>
  </div>
</div>

