<li class="dropdown">
  <a href="#" data-toggle="dropdown" class="navbar-brand">Campaigns <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
    <li><a>Subscriptions</a></li>
    <li><a>Competitions</a></li>
    <li><a>Images</a></li>
  </ul>
</li>

<div class="pull-right">
  <li class="navbar-brand pull-left"><%= @currentUser.name %></li>
  <%= link_to 'logout', sessions_destroy_path,  class: 'navbar-brand pull-left' %>
</div>


<li class="pull-right dropdown">
  <a href="#" data-toggle="dropdown" class="navbar-brand">Admin <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
        <li><%= link_to 'Edit Users', users_path %></li>
        <li><a>Company Info</a></li>
  </ul>
</li>

